<div class="jumbotron">
  <h1>ToDo App</h1>


  <p>
    <a href="/login" class="btn btn-info" <%= "style=\"display:none;\"" if @user != nil %>>
      <span class="glyphicon glyphicon-log-in icon-white"></span> Log In
    </a>

    <a href="/logout" class="btn btn-danger" <%= "style=\"display:none;\"" if @user == nil %>>
      <span class="glyphicon glyphicon-log-out icon-white"></span> Log Out
    </a>

    <a href="/signup" class="btn btn-primary" <%= "style=\"display:none;\"" if @user != nil %>>
      <span class="glyphicon glyphicon-plus-sign icon-white"></span> Sign Up
    </a>

    <a id="tasks" href="/tasks" class="btn btn-success" <%= "style=\"display:none;\"" if @user == nil %>>
      <span class="glyphicon glyphicon-calendar icon-white"></span> Tasks
    </a>

    <a href="/task/new" class="btn btn-primary" <%= "style=\"display:none;\"" if @user == nil %>>
      <span class="glyphicon glyphicon-plus icon-white"></span> New Task
    </a>

  </p>

</div>




