<h2>Tasks</h2>

<% unless @tasks.empty? %>
<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class=<%= task.completed ? "\"list-group-item completed\"" : "\"list-group-item\"" %>>
      <div class="list-centered-style">
        <a href=<%= "/task/#{task.id}" %>><%= task.content %></a>
      </div>
      <div class="pull-right">
        <a id="edit" href=<%= "/task/#{task.id}/edit" %> class="btn btn-default btn-sm" style="display:inline;">
          <span class="glyphicon glyphicon-wrench"></span> Edit
        </a>
        <a href=<%= "/task/#{task.id}/done" %>

        <% if task.completed %>
          <%= "class=\"btn btn-success btn-sm\" style=\"display:inline;\"><span class=\"glyphicon glyphicon-ok icon-white\"></span> Done</a>" %>
        <% else %>
          <%= "class=\"btn btn-danger btn-sm\" style=\"display:inline;\"><span class=\"glyphicon glyphicon-remove icon-white\"></span> Not Done</a>" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<% else %>
<h3>
No Tasks
</h3>
<p>
  <a href="/task/new" id="new" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus icon-white"></span> New Task
  </a>
</p>
<% end %>


